@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* BASE */

:root {
    --background: #121212;
    --surface: #212121;
    --card: #303030;
    --white: rgb(242, 242, 242);
}

body {
    margin: 0;
    font-family: 'Inter', 'Roboto', sans-serif;
    color: var(--white);
    background-color: var(--background);
}

.card {
    background-color: var(--card);
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: var(--surface);
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #4f4f4f;
}

.main-container {
    margin: 1rem;
    border-radius: 5px;
    /* box-shadow: 0 0 5px 0 rgb(242 242 242 / 20%); */
    padding: 2.5rem;
    background-color: var(--surface);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.main-grid > .card,
.metrics-grid > .card,
.grid-column > .card {
    margin: 0.5rem;
    border-radius: 5px;
    /* box-shadow: 0 0 5px 0 rgb(242 242 242 / 10%); */
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

.card-body {
    padding: 1.5rem;
}

/* METRICS GRID */

.metrics-grid {
    width: 28rem;
    height: 28rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0.5rem;
}

.metrics-grid > .card {
    padding: 0;
    width: 100%;
    margin: 0;
}

.metrics-grid > .card > .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.metrics-grid > .card > .card-body > .card-title {
    position: absolute !important;
    font-size: 1.0rem;
    top: 1rem;
    left: 1rem;
    right: 0.5rem;
    font-weight: 700;
}

.metrics-grid > .card > .card-body > div > p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

/* GRID COLUMN */

.grid-column {
    display: grid;
}

.grid-column:nth-child(1) {
    display: grid;
    grid-template-columns: min-content 1fr;
    position: sticky;
    top: 1rem;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}

.grid-column:nth-child(2) {
    grid-template-columns: min-content 1fr;
}

.grid-column:nth-child(3),
.grid-column:nth-child(4),
.grid-column:nth-child(5),
.grid-column:nth-child(6) {
    grid-template-columns: 1fr 1fr;
}

.grid-column:nth-child(2) > .card {
    height: 28rem;
}

.grid-column.card {
    padding: 1rem;
}

h1 {
    display: block;
    min-width: 28rem;
}

#models_performance_graph {
    height: 24rem;
}

#confusion_switch {
    font-size: 1rem;
    margin-left: 1rem;
}

#confusion_switch > div > input {
    cursor: pointer;
}

.plot-container.plotly {
    display: flex;
    justify-content: center;
}

.card-title:has(#confusion_title) {
    display: flex;
    align-items: flex-end;
}

.Select-value {
    padding: 0 !important;
}

.Select-value-label > span {
    padding: 0 1rem;
}

.VirtualizedSelectOption {
    background-color: #4f4f4f;
    padding: 0;
    margin: 0;
}

div:not(.Select-value-label) > .model-select {
    background-color: #4f4f4f;
    padding: 0.25rem 1rem;
    margin: 0;
}

div:not(.Select-value-label) > .model-select:hover {
    background-color: #5f5f5f !important;
}

.Select-control {
    border-color: #4f4f4f;
}

#model_dropdown {
    width: 15rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
    font-size: 1.4rem;
}
